@using Nabaztag.WebTts.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nabaztag TTS</title>
    @{
        //@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        // <script src="/Scripts/modernizr-2.8.3.js"></script>
        <link href="/Content/bootstrap.css" rel="stylesheet" />
    }

    <link href="/Content/Site.css" rel="stylesheet" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nabaztag TTS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Tts.TtsTitle, "Index", "Tts", new { area = "" }, null)</li>
                    <li>@Html.ActionLink(Tts.Settings, "Edit", "Tts", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Laurent Ellerbach</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
